@font-face {
    font-family: Parangon; 
    src: url(../fonts/Parangon/Parangon.ttf);
}
@font-face {
    font-family: Parangon_330c; 
    src: url(../fonts/Parangon/parangon_330c.ttf);
}
@font-face {
    font-family: Parangon_430c; 
    src: url(../fonts/Parangon/parangon_430c.ttf);
}